										<a class="navbar-brand" href="{{@site.url}}" rel="home">
											<span class="navbar-brand-inner">
												<img class="logo-dark" src="./assets/img/logo/logo-1.svg" alt="Ave HTML Template">
												<img class="logo-light" src="./assets/img/logo/logo-light.svg" alt="Ave HTML Template">
												<img class="logo-sticky" src="./assets/img/logo/logo-1.svg" alt="Ave HTML Template">
												<img class="mobile-logo-default" src="./assets/img/logo/logo-1.svg" alt="Ave HTML Template">
												<img class="logo-default" src="./assets/img/logo/logo-light.svg" alt="Ave HTML Template">
											</span>
										</a>