<section class="call-to-action-area section-spacing bg-center-top">

<div class="container">
      
    <div class="call-to-wrapper text-center">

            <h2 class="whitish heading-2">You like us.  We like you.
        </h2>
        <p class="whitish">By spending a little time communicating, we can actually see if this is the beginning of a beautiful partnership.</p>
        <a href="#" class="whitish btn btn-default circle btn-bordered border-thin btn-icon-left btn-icon-circle btn-icon-bordered font-size-12 font-weight-bold text-uppercase ltr-sp-05 mb-2">
								<span>
									<span class="whitish btn-txt">Schedule a call</span>
									<span class="whitish btn-icon float-right"><i class="whitish fa fa-phone"></i></span>
								</span>
							</a>
    </div>
</div>
</section>