		<div class="lqd-promo-cat">
											<ul class="reset-ul">
												<li>												<li>a marketing strategy lab and creative machine</li>
											</li>
											</ul>
										</div><!-- /.lqd-promo-cat -->
								