										<ul class="social-icon social-icon-sm">
											<li>
												<a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a href="#" target="_blank"><i class="fa fa-telegram"></i></a>
											</li>
										</ul>
									