$color-primary: #7254c9;
$color-secondary: darken($color-primary, 25%);
$color-primary: #7254c9;
$color-gradient-start: $color-primary;
$color-gradient-stop: darken($color-gradient-start, 50%);
$white: #f2f2f2;
$muted-purple: #7D5BA6;
$blue: #91C4F2;
$off-gray:  #A2A3BB; 
$black: #272B2C; 
$bg-color: #27282a;
$bg-vulcan: #141622;
$bg-vulcan2: #3b3b3b;

html {
    background: #141622;
    color: #f2f2f2;
}
.post-meta .block {
    color: #fff;
}

:root {
	--color-primary: $color-primary;
	--color-secondary: darken($color-primary, 25%);
	--color-gradient-start: $color-primary;
	--color-gradient-stop: darken($color-gradient-start, 50%);
	--white: $white;
	--muted-purple: $muted-purple;
	--blue: $blue;
	--off-gray:  $off-gray;
	--black: $black;
}
wpb_widgetised_column .widget-title, .main-sidebar .widget-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0;
	text-transform: uppercase !important;
	color: #ffffff !important;
    margin-top: 0;
    margin-bottom: 1em;
}
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.9em;
	color: #828282;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fjalla One', sans-serif !important;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6 .h6 {
	text-transform: uppercase !important;
	font-family: 'Fjalla One', 'sans-serif';
}

.h1,
h1 {
	font-size: 50px;
	line-height: 1.4em;
}

.h2,
h2 {
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0;
}

.h3,
h3 {
	font-size: 32px;
	line-height: 1.5em;
}

.h4,
h4 {
	font-size: 26px;
	line-height: 1.6em;
}

.h5,
h5 {
	font-size: 20px;
	line-height: 1.6em;
}

.h6 {
	font-size: 18px;
	line-height: 1.8;
}
.post-author h3 a {
    color: #fff;
}

body.blog .main-sidebar {
	padding-left: 10px;
	background-color: #272B2C;
	padding-top: 15px;
	padding-right: 10px;
	z-index: 2;
  }
  
  
.liquid-blog-item {
	background-color:  #f3f3f3;
	padding: 25px;

}
@media screen and (max-width: 991px)
{.post-nav, .blog-single-footer {
   flex-direction: row; 
}
}

.nav-next {
    position: absolute;
    right: 0%;
}
.post-nav .nav-title {
    color: #fff;
}
h1, .h1 {
    font-size: 42px;
    color: #fff;
}
h2, .h2 {
    font-size: 40px;
    color: #fff;
}

.blog-single-cover[data-inview=true] .blog-single-title .split-unit:nth-child(1) {

    font-size: 1.5em;
}
header.major {
text-align: center;
}
@media screen and (min-width: 992px){
h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
color: #ffffff !important;
}
h1, .h1 {
	color: #fff !important;
}
}
	@media screen and (max-width: 991px){
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
color: #fff !important;
}
}

.icons li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.links ul {
	text-align: center;
}
.liquid-lp-details {
    width: 100%;
    text-align: center;
}
.font-family-roboto {
	font-family: 'Noto Sans', sans-serif;
}
.font-family-amiri {
	font-family: 'Fjalla One', sans-serif;
}
.meta-data {
	list-style: none;
	display: inline-block;
}
.meta-data li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;

}
.main-header .social-icon {
	font-size: 17px;
}
.main-header .social-icon:not([class*=scheme-]) a,
.main-nav > li > a {
	color: rgba(#fff, 0.7);
	
	&:hover {
		color: #fff;
	}
}
.main-nav {
	
	> li {
		
		> a {
			font-size: 17px;
			font-weight: 500;
			letter-spacing: 0.02em;
		}
		
		&.is-active > a,
		&.current-menu-item > a,
		&:hover > a,
		> a:hover {
			color: #fff;
		}
		
		.nav-light & {
			
			> a {
				
				color: rgba(#fff, 0.75);
				
				.link-ext {
					background-color: #fff;
				}
			}
		}
		
		.nav-dark & {
			
			> a {
				color: rgba(#000, 0.75);
			}
			&.is-active > a,
			&.current-menu-item > a,
			&:hover > a,
			> a:hover {
				color: #000;
			}
		}
	}
}


.main-footer {
	color: #98a2aa;

	a:not(.btn) {
		color: #98a2aa;

		&:hover {
			color: #fff;
		}
	}
}

@media ( min-width: 1200px ) {

	.main-header .is-stuck {
		background: #fff !important;
	}
	.mainbar-wrap.is-stuck .social-icon a,
	.mainbar-wrap.is-stuck .header-module .ld-module-trigger,
	.mainbar-wrap.is-stuck .main-nav > li > a,
	.mainbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
		color: rgba(255, 255, 255, 0.7) !important;
	}
	.mainbar-wrap.is-stuck .social-icon a:hover,
	.mainbar-wrap.is-stuck .main-nav > li > a:hover {
		color: #f2f2f2 !important;
	}
	.megamenu-heading {
		color: #f2f2f2;
	}
	[data-megamenu-bg-scheme=light] {
	
		.lqd-custom-menu {
			
			a {
				color: #f2f2f2;
			}
		}
	}
	.megamenu {
		
		.lqd-custom-menu {

			a {
				
				&:hover {
					color: #f2f2f2;
				}
			}
		}
	}
}
.whitish {
	color: #f2f2f2 !important;
}
.white {
	color: #ffffff;
}
.call-to-action-area {
	color: #fff !important;
    z-index: 1;
    background-image: url('../../img/purplepurplewaves.svg');
	background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-position-y: -100px;
    background-attachment: fixed;
}
.section-spacing {
    padding: 100px 0;
}
.bg-color2 {
    background: #8066dc;
}
.btn {
	color: #fff;
	border-color: #fff !important;
}
.btn:hover, .btn:focus {
background-color: darken(#7D5BA6, 80%) !important;
border-color: darken(#7D5BA6, 80%) !important;

}
:hover {
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
body.blog .main-sidebar {
    padding-left: 10px;
    margin-top: 0 !important;
    background-color: #272B2C;
    padding-top: 15px;
    padding-right: 10px;
	z-index: 2;
}

.call-to-action-area:before {
    content: "";
    position: absolute;
    left: 0;
	top: 0;
	color: #fff !important;
    bottom: 0;
    right: 0;
}

::selection {
    background: #1d1e21;
    text-shadow: none;
    color: #fff;
}