{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{#contentFor "bodyparts"}}
 class="blog bg-vulcan" data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="black" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199"
{{/contentFor}}

{{#contentFor "headerparts"}}
 class="main-header main-header-overlay" data-react-to-megamenu="true" data-sticky-header="true" data-sticky-options='{ "stickyTrigger": "first-section" }'
 {{/contentFor}}

 {{#contentFor "pageparts"}}
 {{/contentFor}}
 {{> "titlebar" }}
 <div class="container">
     <div class="row">
			<div class="col-md-8">
                <div class="liquid-blog-posts liquid-blog-scheme-dark">
					<div class="liquid-blog-grid liquid-blog-style-classic row">
                                                         
                                {{#get "posts" filter="featured:true" include="tags" limit="1" as |featured_post|}}
                                     {{!#is "index"}} 
                                      {{#foreach featured_post}}
                                        {{> "post-card"}}
                                                                                  {{/foreach}}
                              {{!/is}}
                                         {{/get}}
                               
					            {{#get "posts" filter="featured:false, page:false" limit="9" include="tags" }}
                                                                        {{!#is "index"}} 

                                    {{#foreach posts}}
                                        {{> "post-card"}}
                                    {{/foreach}}
                                    {{!/is}}
                                {{/get}}
                            
                            {{pagination}}

							</div><!-- /.liquid-blog-grid liquid-blog-style-classic row -->
                            {{!-- Pagination --}}
						</div><!-- /.liquid-blog-posts -->

					</div><!-- /.col-md-8 -->

					{{> "sidebar"}}

				</div><!-- /.row -->
			</div><!-- /.container -->
		


