/* line 1, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
:root {
  --color-primary: #ffc80b;
  --color-gradient-start: #ffc80b;
  --color-gradient-stop: #ffc80b;
}

/* line 7, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: #666;
}

/* line 15, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'Roboto', sans-serif;
  color: #000;
}

/* line 25, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.h1, h1 {
  font-size: 52px;
  font-weight: 400;
  line-height: 1.4em;
}

/* line 31, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.h2, h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4em;
}

/* line 37, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.h3, h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3em;
}

/* line 43, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.h4, h4 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.5em;
}

/* line 49, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.h5, h5 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.7em;
}

/* line 55, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.h6, h6 {
  font-size: 18px;
  line-height: 1.7em;
  font-weight: 500;
  color: #0a0a0a;
}

/* line 62, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.main-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 66, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.mainbar-wrap {
  padding-left: 35px;
  padding-right: 35px;
}

/* line 71, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* line 80, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.main-nav > li > a {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
}

/* line 86, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: #fff;
}

/* line 95, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.contact-form select,
.contact-form input,
.contact-form textarea,
.contact-form .ui-selectmenu-button {
  color: #000;
}

/* line 102, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.ld-pf-item .ld-pf-bg {
  background: rgba(255, 200, 11, 0.9);
}

/* line 106, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.main-footer {
  color: #b5b7c4;
}

/* line 109, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.main-footer a:not(.btn) {
  color: #b5b7c4;
}

/* line 112, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/construction.scss */
.main-footer a:not(.btn):hover {
  color: #fff;
}

/*# sourceMappingURL=construction.css.map */