@font-face {
  font-family: 'Basier Square';
  src: url("../../fonts/basiersquare-regular-webfont.woff2") format("woff2"), url("../../fonts/basiersquare-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* line 9, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
:root {
  --color-primary: #8300ff;
  --color-gradient-start: #8300ff;
  --color-gradient-stop: #1de1d1;
}

/* line 15, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
body {
  font-family: 'Basier Square', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  font-size: 15px;
  color: #6a7c92;
}

/* line 23, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-family: 'futura-pt', sans-serif;
  color: #1e1666;
}

/* line 33, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.h1,
h1 {
  font-size: 55px;
  line-height: 1.2em;
  font-weight: 700;
}

/* line 40, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.h2,
h2 {
  font-size: 45px;
  line-height: 1.2em;
  font-weight: 700;
}

/* line 47, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.h3,
h3 {
  color: #1e1666;
  line-height: 1.4em;
  font-size: 37px;
}

/* line 54, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.h4,
h4 {
  font-size: 26px;
  line-height: 1.7em;
  font-weight: 700;
}

/* line 61, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.h5,
h5 {
  color: #1e1666;
  line-height: 1.8em;
  font-size: 21px;
}

/* line 68, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.h6,
h6 {
  font-size: 18px;
  line-height: 1.8;
  font-weight: 700;
}

/* line 75, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.main-footer {
  color: #8589a3;
}

/* line 78, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.main-footer a:not(.btn) {
  color: #8589a3;
}

/* line 81, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
.main-footer a:not(.btn):hover {
  color: #3d356e;
}

@media (min-width: 1200px) {
  /* line 91, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
  .main-nav > li > a {
    color: #fff;
  }
  /* line 94, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
  .main-nav > li > a .link-ext {
    background-color: #fff;
  }
  /* line 98, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/crypto.scss */
  .main-nav > li.is-active > a,
  .main-nav > li.current-menu-item > a,
  .main-nav > li:hover > a,
  .main-nav > li > a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}

/*# sourceMappingURL=crypto.css.map */