/* line 1, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
:root {
  --color-primary: #ff1839;
  --color-gradient-start: #ff1839;
  --color-gradient-stop: #ff1839;
}

/* line 7, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
body {
  font-family: 'Glacial Indifference', sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1em;
  color: #808291;
}

/* line 15, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  font-weight: 400;
  line-height: 1.2em;
  color: #181b31;
}

/* line 25, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h1, h1,
.h5, h5,
.h6, h6 {
  font-family: 'Glacial Indifference', sans-serif;
}

/* line 30, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h2, h2,
.h3, h3,
.h4, h4 {
  font-family: 'Prata';
}

/* line 36, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h1,
h1 {
  font-size: 52px;
}

/* line 41, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h2,
h2 {
  font-size: 40px;
}

/* line 46, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h3,
h3 {
  font-size: 35px;
}

/* line 51, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h4,
h4 {
  line-height: 1.333em;
  font-size: 30px;
}

/* line 57, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h5,
h5 {
  font-size: 21px;
}

/* line 62, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.h6,
h6 {
  font-size: 18px;
}

/* line 69, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.main-nav > li > a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: white;
  text-transform: uppercase;
}

/* line 76, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.main-nav > li > a .link-ext {
  background: var(--color-primary);
}

/* line 80, ../../../../../../../../../../../../../Users/nic/Gits/lemonghost/content/themes/lemon/assets/styles/themes/multiconcept.scss */
.main-nav > li.is-active > a,
.main-nav > li.current-menu-item > a,
.main-nav > li:hover > a,
.main-nav > li > a:hover {
  color: white;
}

/*# sourceMappingURL=multiconcept.css.map */