$color-primary: #7254c9;
$color: #27282a;
$color-secondary: darken($color-primary, 25%);
$color-primary: #7254c9;
$color-gradient-start: $color-primary;
$color-gradient-stop: darken(#7254c9, 50%);
$white: #f2f2f2;
$muted-purple: #7D5BA6;
$blue: #91C4F2;
$off-gray: #A2A3BB;
$black: #272B2C;
$bg-color: #27282a;
$bg-vulcan: #141622;
$bg-vulcan2: #3b3b3b;

:root {
    --color-primary: $color-primary;
    --color-secondary: darken($color-primary, 25%);
    --color-gradient-start: $color-primary;
    --color-gradient-stop: darken($color-gradient-start, 50%);
    --white: $white;
    --muted-purple: $muted-purple;
    --blue: $blue;
    --off-gray: $off-gray;
    --black: $black;
}

wpb_widgetised_column .widget-title,
.main-sidebar .widget-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0;
    text-transform: uppercase !important;
    color: #ffffff !important;
    margin-top: 0;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase !important;
    font-family: 'Fjalla One', sans-serif !important;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 1.9em;
    color: #828282;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 .h6 {
    font-family: 'Fjalla One', 'sans-serif';
    color: $white;
}

.kg-width-wide {
    position: relative;
    width: 85vw;
    min-width: 100%;
    margin: auto calc(50% - 50vw);
    transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.kg-bookmark-card {
    width: 100%;
    position: relative;
}

.kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    color: currentColor;
    font-family: inherit;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.kg-bookmark-container:hover {
    text-decoration: none;
}

.kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    padding: 20px;
    order: 1;
}

.kg-bookmark-title {
    font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
    margin-top: .5em;
}

.kg-bookmark-metadata {
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kg-bookmark-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.kg-bookmark-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: text-bottom;
    margin-right: .5em;
    margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
    display: flex;
    flex-basis: 24rem;
    flex-grow: 1;
}

.kg-bookmark-thumbnail img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

.kg-bookmark-author {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.kg-bookmark-publisher::before {
    content: "•";
    margin: 0 .5em;
}

article figure {
    margin: 0;
}

article figcaption {
    text-align: center;
}

.h1,
h1 {
    font-size: 50px;
    line-height: 1.4em;
}

.h2,
h2 {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0;
}

.h3,
h3 {
    font-size: 32px;
    line-height: 1.5em;
}

.h4,
h4 {
    font-size: 26px;
    line-height: 1.6em;
}

.h5,
h5 {
    font-size: 20px;
    line-height: 1.6em;
}

.h6,
h6 {
    font-size: 18px;
    line-height: 1.8;
}

.font-family-roboto {
    font-family: 'Noto Sans', sans-serif;
}

.font-family-amiri {
    font-family: 'FJalla One', sans-serif;
}

.main-header .social-icon {
    font-size: 17px;
}

.main-header .social-icon:not([class*=scheme-]) a,
.main-nav > li > a {
    color: rgba(#fff, 0.7);

    &:hover {
        color: #fff;
    }
}

.main-nav {
    > li {
        > a {
            font-size: 17px;
            font-weight: 500;
            letter-spacing: 0.02em;
        }

        &.is-active > a,
        ent-menu-item > a,
        r > a,
        ver {
            color: #fff;
        }

        .nav-light & {
            > a {
                color: rgba(#fff, 0.75);

                .link-ext {
                    background-color: #fff;
                }
            }
        }

        .nav-dark & {
            > a {
                color: rgba(#000, 0.75);
            }

            &.is-active > a,
            -menu-item > a,
            a,
             {
                color: #000;
            }
        }
    }
}

.main-footer {
    color: #98a2aa;
    padding-top: 25px;

    a:not(.btn) {
        color: #98a2aa;

        &:hover {
            color: #fff;
        }
    }
}

@media ( min-width: 1200px ) {
    .main-header .is-stuck {
        background: #fff !important;
    }

    .mainbar-wrap.is-stuck .social-icon a,
    inbar-wrap.is-stuck .header-module .ld-module-trigger,
    inbar-wrap.is-stuck .main-nav > li > a,
    inbar-wrap.is-stuck .ld-module-search-visible-form .ld-search-form input {
        color: rgba(0, 0, 0, 0.7) !important;
    }

    .mainbar-wrap.is-stuck .social-icon a:hover,
    inbar-wrap.is-stuck .main-nav > li > a:hover {
        color: #000 !important;
    }

    .megamenu-heading {
        color: #3b91f7;
    }

    [data-megamenu-bg-scheme=light] {
        .lqd-custom-menu {
            a {
                color: #3e3f42;
            }
        }
    }

    .megamenu {
        .lqd-custom-menu {
            a {
                &:hover {
                    color: #3b91f7;
                }
            }
        }
    }
}

.call-to-action-area {
	color: #fff !important;
    z-index: 1;
    background-image: url('../../img/purplepurplewaves.svg');
	background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-position-y: -100px;
    background-attachment: fixed;
}
.section-spacing {
    padding: 100px 0;
}
.bg-color2 {
    background: #8066dc;
}
.btn {
	color: #fff;
	border-color: #fff !important;
}
.btn:hover, .btn:focus {
background-color: darken(#7D5BA6, 80%) !important;
border-color: darken(#7D5BA6, 80%) !important;

}
:hover {
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
}
body.blog .main-sidebar {
    padding-left: 10px;
    margin-top: 0 !important;
    background-color: #272B2C;
    padding-top: 15px;
    padding-right: 10px;
    z-index: 2;
    color: #ffffff;
}

.call-to-action-area:before {
    content: "";
    position: absolute;
    left: 0;
	top: 0;
	color: #fff !important;
    bottom: 0;
    right: 0;
}