$color-primary: #7254c9;
$color-secondary: darken($color-primary, 25%);
$color-primary: #7254c9;
$color-gradient-start: $color-primary;
$color-gradient-stop: darken($color-gradient-start, 50%);
$white: #f2f2f2;
$muted-purple: #7D5BA6;
$blue: #91C4F2;
$off-gray:  #A2A3BB; 
$black: #272B2C; 
$bg-color: #27282a;
$bg-vulcan: #141622;
$bg-vulcan2: #3b3b3b;

:root {
	--color-primary: $color-primary;
	--color-secondary: darken($color-primary, 25%);
	--color-gradient-start: $color-primary;
	--color-gradient-stop: darken($color-gradient-start, 50%);
	--white: $white;
	--muted-purple: $muted-purple;
	--blue: $blue;
	--off-gray:  $off-gray;
	--black: $black;
}
body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.9em;
	color: #828282;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase !important;
	font-family: 'Fjalla One', sans-serif !important;
}


.liquid-blog-item {
	padding: 25px; 
}
@media screen and (max-width: 991px)
{.post-nav, .blog-single-footer {
   flex-direction: row; 
}
}

.blog-single-cover[data-inview=true] .blog-single-title .split-unit:nth-child(1) {

    font-size: 1.5em;
}
header.major {
text-align: center;
}

.icons li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}
.links ul {
	text-align: center;
}
.liquid-lp-details {
    width: 100%;
    text-align: center;
}
.font-family-roboto {
	font-family: 'Noto Sans', sans-serif;
}
.font-family-amiri {
	font-family: 'Fjalla One', sans-serif;
}


.whitish {
	color: #f2f2f2;
}
.white {
	color: #ffffff;
}
.call-to-action-area {
    z-index: 1;
    background-image: url('http://localhost:2888/assets/img/purplepurplewaves.svg');
  background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    background-position-y: -100px;
    background-attachment: fixed;
}
.section-spacing {
    padding: 100px 0;
}
.bg-color2 {
    background: #8066dc;
}
.btn {
	color: #fff;
	border-color: #fff;
}
.btn:hover, .btn:focus {
background-color: darken(#7D5BA6, 80%);
border-color: darken(#7D5BA6, 80%);

}


.call-to-action-area:before {
    content: "";
    position: absolute;
    left: 0;
	top: 0;
	color: #fff !important;
    bottom: 0;
    right: 0;
}
