$color-primary: #7254c9;
$color: #27282a;
$color-secondary: darken($color-primary, 25%);
$color-primary: #7254c9;
$color-gradient-start: $color-primary;
$color-gradient-stop: darken(#7254c9, 50%);
$white: #f2f2f2;
$muted-purple: #7D5BA6;
$blue: #7D5BA6;
$off-gray: #A2A3BB;
$soft-purple: lighten(#735BA6,30%);
$black: #272B2C;
$bg-color: #27282a;
$bg-vulcan: #141622;
$bg-vulcan2: #3b3b3b;

.iconduo {
    color: $soft-purple !important; 
    --fa-primary-color: $soft-purple !important;
    --fa-secondary-opacity: 0.5;
}
.purplish {
 color: #7D5BA6;   
}
h3.widget-title {
    color: $black !important;
}
article.liquid-lp.liquid-blog-item.liquid-blog-item-grid.liquid-blog-scheme-dark.mb-50 {
    background: #fefefe;
    padding: 20px;
}
:root {
    --color-primary: $color-primary;
    --color-secondary: darken($color-primary, 25%);
    --color-gradient-start: $color-primary;
    --color-gradient-stop: darken($color-gradient-start, 50%);
    --white: $white;
    --muted-purple: $muted-purple;
    --blue: $blue;
    --off-gray: $off-gray;
    --black: $black;
}